html, body {
    min-height: auto;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;
}

header {
    display: flex;
    justify-content: center;
    background-color: #6E6A6F;
    font-size: x-large;
    border-radius: 10px;
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    background-color: #89948a;
    justify-content: space-around;
    border-radius: 5px;
}

a:link {
    color: white;
}

a:hover {
    color: #EDCB96;
}

a:visited {
    color: #F7C4A5;
}
  
a:active {
    color: #9E7682;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
  
div {
    width: 300px;
    border: 5px;
    padding: 80px;
    margin: 20px;
    border-radius: 100px;
    text-align: center;
}

aside {
    
    float: left;
    margin: 0 1.5%;
    width: 63%;
}

main {
    float: right;
    width: 300px;
    border: 5px;
    padding: 80px;
    margin: 20px;
    border-radius: 100px;
    text-align: left;
    background-color: #6E6A6F;
    font-size: larger;
}

.me {
      background-color:#AA968A;
}

.work {
    background-image: url(coding.jpg);
    background-color: #BFAFA6;
}

.contact {
      background-color: #D4D2D5;
}

.resume {
    background-color: #6E6A6F;
}