html, body {
    scroll-behavior: smooth;
    min-height: auto;
    background-color: rgb(231, 231, 231);
    font-family: 'NTR', sans-serif;
    font-size: 15px;
    color: white;
}

header, .navlinks {
    margin: 20px;
    padding: 5px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #6E6A6F;
    border-radius: 10px;
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    background-color: #89948a;
    justify-content: space-around;
    border-radius: 5px;
    font-size: 25px;
}

a:link {
    color: white;
}

a:hover {
    color: #EDCB96;
    transform: scale(1.3);
}

a:visited {
    color: #ebd0c0;
}
  
a:active {
    color: #9E7682;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 90px;
    border-top-width: 90px;
    padding-top: 90px;
}

h1 {
    text-align:center; font-weight: 900;
}

p {
    font-size: x-large;
}

div {
    padding: 80px;
    margin: 20px;
    border-radius: 100px;
    text-align: center;
}

.info {
    float: inline-start;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-top: 10px;
    text-align: left;
    background-color: #6E6A6F;
    font-size: larger;
    border-radius: 10px;
}

.me {
    background-color:#AA968A;
}

.work {
    background-color: #BFAFA6;
}

.contact {
    background-color: #D4D2D5;
}

.resume {
    background-color: #4c494d;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

footer {
    background-color: #89948a;
    text-align: center;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
}